.profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.profile-top-side {
  display: flex;
  height: 36%;
  width: 100%;
  background-color: #7BC9FF;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid #1C1678;;
}

.pp-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 180px;
  background-color: #1C1678;
  border-radius: 45%;
}

.pp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  overflow: hidden;
}

.pp > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 45%;
  height: 160px; 
  width: 160px; 
  background-color: #7BC9FF;
}

.pp > button > img {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 45%;
  height: 160px; 
  width: 160px; 
  background-color: #7BC9FF;
}

.pp > button:hover {
  background-color: rgba(184, 184, 184, 0.8);
}

.pp > button:active {
  background-color: rgb(217, 217, 217);
}

.profile-bottom-side {
  display: flex;
  flex-direction: row ;
  height: 30%;
  width: auto;
  align-items: center;
  justify-content: space-evenly;
}

.edit{
  display: flex;
  height: 10%;
  align-items : center;
  justify-content: center;
}