.main{
  background-color: rgb(72, 72, 72);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url('C:\Users\DELL\Desktop\Kodlar\React2024\final-2024\src\images\loginbg.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}